<script type="text/javascript">


var Wellspring = Wellspring || {};

Wellspring.Utils = {
  // Source: https://remysharp.com/2010/07/21/throttling-function-calls
  debounce: function(fn, delay) {
    var timer = null;
    return function () {
      var context = this, args = arguments;
      clearTimeout(timer);
      timer = setTimeout(function () {
        fn.apply(context, args);
      }, delay);
    };
  }
};

Wellspring.LivePreview = {
  selectors: {
    textarea: 'form textarea',
    preview:  '#live-preview'
  },

  initialize: function() {
    $(document).on('keyup', this.selectors.textarea, Wellspring.Utils.debounce(this.generatePreview.bind(this), 200));
  },

  generatePreview: function(event) {
    var preview = $(this.selectors.preview);
    var previewUrl = preview.attr('data-preview-url');

    $.ajax({
      type: 'POST',
      url: previewUrl,
      data: {
        text: event.target.value
      },

      success: function(data) {
        preview.html(data);
      }
    });
  }
};

Wellspring.LivePreview.initialize();

</script>

<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='row'>
  <div class='col-sm-6'>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body, :class => 'boxsizingBorder' %>
    </div>
    <div class="field">
      <%= f.label :slug %><br />
      <%= f.text_field :slug %>
    </div>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user %>
    </div>
    <div class="field">
      <%= f.label :published_at %><br />
      <%= f.datetime_select :published_at %>
    </div>
    <div class="actions">
      <%= f.submit:data => { :disable_with => "Submitting ..." }, :class => "btn-default btn1" %>
    </div>
  <% end %>
  </div>
  <div class='col-sm-6'>
    Preview:
     <div id="live-preview" data-preview-url="<%= preview_path %>"></div>
  </div>
</div>