
<%# which form to show based on type %>
  <% if @content.content_type_id == 1 %>
    <%= render 'page_form' %>
  <% elsif  @content.content_type_id == 2 %>
    <%= render 'news_form' %>
  <% elsif  @content.content_type_id == 3 %>
    <%= render 'blogs_form' %>
  <% end %>

<div style="clear: both;"></div>
<%= link_to 'Show', @content %> |
<%= link_to 'Back', contents_path %>
