<h1>Listing contents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Slug</th>
    <th>User</th>
    <th>Published at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.title %></td>
    <td><%= simple_format(truncate(content.body, :length => 70, :separator => ' ')) %></td>
    <td><%= content.slug %></td>
    <td><%= content.user %></td>
    <td><%= content.published_at %></td>
    <td><%= link_to 'Show', content %></td>
    <td><%= link_to 'Edit', edit_content_path(content) %></td>
    <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Content', new_content_path %>
    </div>
  <% end %>
<% end %>



