<% if !@info_blocks.nil? %>
<%= markdown @info_blocks.body %>
<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
        <div class="hp-admin-link"><%= link_to 'Edit info blocks', edit_content_path(@info_blocks) %> </div>
  <% end %>
<% end %>
<% end %>

<!-- NEWS -->
<% if !@recent_news.blank? %>
  <div id="about">
    <div class="container">
      <div class="page_title animated" data-animation="fadeInUp" data-animation-delay="200">
        <strong><span>Colonel News</span></strong>
      </div>
        <div class="row">
          <% @recent_news.reverse.each_with_index do |news, i| %>
            <div class="col-sm-3">
            <% delay = ((i + 1)*200) %>
              <div class="welcome1 animated" data-animation="flipInY" data-animation-delay="<%= delay.to_i %>">
                <% if !news.feature_image.blank? %>
                  <%= link_to image_tag(news.feature_image.url(:landscape_profile).to_s), content_path(news),  :class => 'blog-feature-image' %>
                <% else %>
                  <img src="/uploads/website_images/blocchi8-01.jpg" style="width: 100%;">
                <% end %>
                <br><br>		
                <span><%= news.published_at.strftime("%b %-d, %Y") %></span>
              <div class="txt1"><%= link_to news.title, content_path(news) %></div>
              <div class="txt2"><%= markdown truncate(news.body, :length => 220, :separator => ' ') %></div>
                <a href="/contents/<%= news.id %>" class="btn-default btn2">Read more...</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !@bottom_info_blocks.nil? %>
<%= markdown @bottom_info_blocks.body %>
<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
        <div class="hp-admin-link"><%= link_to 'Edit bottom info blocks', edit_content_path(@bottom_info_blocks) %></div>
    </div>
  <% end %>
<% end %>
<% end %>

<!-- NEWS -->
<% if !@recent_blogs.blank? %>
  <div id="about">
    <div class="container">
      <div class="page_title animated" data-animation="fadeInUp" data-animation-delay="200">
        <strong><span>CAF Blogs</span></strong>
      </div>
        <div class="row">
          <% @recent_blogs.reverse.each_with_index do |blog, i| %>
            <div class="col-sm-3">
            <% delay = ((i + 1)*200) %>
              <div class="welcome1 animated" data-animation="flipInY" data-animation-delay="<%= delay.to_i %>">
                <% if !blog.feature_image.blank? %>
                  <%= link_to image_tag(blog.feature_image.url(:landscape_profile).to_s), content_path(blog),  :class => 'blog-feature-image' %>
                <% else %>
                  <img src="/uploads/website_images/blocchi8-01.jpg" style="width: 100%;">
                <% end %>
                <br><br>		
                <span><%= blog.published_at.strftime("%b %-d, %Y") %></span>
              <div class="txt1"><%= link_to blog.title, content_path(blog) %></div>
              <div class="txt2"><%= markdown truncate(blog.body, :length => 220, :separator => ' ') %></div>
                <a href="/contents/<%= blog.id %>" class="btn-default btn2">Read more...</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>