<h1>News</h1>


<% @contents.each do |content| %>
  <div><%= content.title %> <%= link_to 'Show', content %>|<%= link_to 'Edit', edit_content_path(content) %>|<%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<% end %>


<br />

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Content', new_content_path %>
    </div>
  <% end %>
<% end %>



