<h1>News</h1>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//commemorativeairforce.us11.list-manage.com/subscribe/post?u=35b9240eea62c41cd5b5d9184&amp;id=457f899a2f" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" id="mc-embedded-subscribe-form" class="validate">
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Sign up for our Email Newsletter</label><br />
      <input name="EMAIL" required="" type="email" value="" id="mce-EMAIL" class="email" placeholder="email address"> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;">
          <input name="b_35b9240eea62c41cd5b5d9184_457f899a2f" type="text" value="" tabindex="-1">
        </div>
      <div class="clear">
        <input name="subscribe" type="submit" value="Subscribe" id="mc-embedded-subscribe" class="button btn-default btn1">
      </div>
    </div>
  </form>
</div>

<% @contents.each do |content| %>
<div class="news-summary-item">
  <h2 style="margin: 1.4em 0;"><%= link_to content.title, content_path(content) %></h2>

		<% if !content.feature_image.blank? %>
			<img src="<%= content.feature_image.url(:landscape_profile).to_s %>" style="float: left;">
		<% end %>

		<div class="txt2"><%= markdown truncate(content.body, :length => 600, :separator => ' ') %></div>
		<a href="/contents/<%= content.id %>" class="btn-default btn2">Read more...</a>

</div> 
 <hr />  
  
<% end %>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= button_to 'Add News Item', add_news_path, method: :get, :class => "btn-default btn1" %>
    </div>
  <% end %>
<% end %>