<h1>News</h1>


<% @contents.each do |content| %>
  <div class="content-summary">
    <div class="row">
      <div class="col-sm-12">
        <h2><%= link_to content.title, content %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <%= image_tag content.feature_image %>
      </div>
      <div class="col-sm-7">
        <% if content.body.length > 700 %>
          <%=  truncate(content.body, :length => 700, :separator => ' ') %> <em><%= link_to "Read More", content %></em>
        <% else %>
          <%= markdown content.body %>
        <% end %>
      </div>
    </div>
    </div>
<% end %>


<br />

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Content', new_content_path %>
    </div>
  <% end %>
<% end %>



