<% if @content.content_type_id == 2 %>
  <%= link_to "<< Back to News", news_path %>
<% end %>
<% if @content.content_type_id == 3 %>
  <%= link_to "<< Back to Blogs", blogs_path %>
<% end %>

<% if @content.members_only == true %>
  <% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "member"} %>
      <h1><%= @content.title %></h1>

      <%= markdown @content.body %>
    <% end %>
  <% else %>
  <p>This content is for members only. You must be a member and logged in to view.</p>
  <% end %>      
<% else %>
  <h1><%= @content.title %></h1>
  <%= markdown @content.body %>
<% end %>


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= button_to 'Edit Content', edit_content_path(@content), method: :get, :class => "btn-default btn1" %>
        <%= render 'versions', :contents => @contents %>
    </div>

  <% end %>
<% end %>