<% if @content.content_type_id == 2 %>
  <%= link_to "<< Back to News", news_path %>
<% end %>

<h1><%= @content.title %></h1>

<%= markdown @content.body %>


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= button_to 'Edit Content', edit_content_path(@content), method: :get, :class => "btn-default btn1" %>
        <%= render 'versions', :contents => @contents %>
    </div>

  <% end %>
<% end %>