<%= form_for(@hq_position_assignment) do |f| %>
  <% if @hq_position_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hq_position_assignment.errors.count, "error") %> prohibited this hq_position_assignment from being saved:</h2>

      <ul>
      <% @hq_position_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.collection_select :member_id, Member.ordered.all, :id, :full_name, options = {:prompt => true}, html_options = {:class => "styled-select boxsizingBorder"} %>
  </div>
  <div class="field">
    <%= f.label :hq_position_id %><br />
      <%= f.collection_select :hq_position_id, HqPosition.alpha_order.all, :id, :position_name, options = {:prompt => true}, html_options = {:class => "styled-select boxsizingBorder"} %>
  </div>
  <div class="actions">
    <%= f.submit:data => { :disable_with => "Submitting ..." }, :class => "btn-default btn1" %>
  </div>
<% end %>
