<p id="notice"><%= notice %></p>

<p>
 Member:
  <%= @hq_position_assignment.member.first_name + ' ' + @hq_position_assignment.member.last_name %>
</p>

<p>
  HQ position:
  <%= @hq_position_assignment.hq_position.position_name %>
</p>


<%= link_to 'Edit', edit_hq_position_assignment_path(@hq_position_assignment) %> |
<%= link_to 'Back', hq_position_assignments_path %>
