<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.member_ordered.all, :id, :full_name, options = {:prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br />
    <%= f.collection_select :role_id, Role.all, :id, :name, options = {:prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
  <div class="actions">
    <%= f.submit:data => { :disable_with => "Submitting ..." }, :class => "btn-default btn1" %>
  </div>
<% end %>
