<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @assignment.user.member.last_name + ', ' + @assignment.user.member.first_name %>
</p>

<p>
  <b>Role:</b>
  <%= @assignment.role.name %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
