<% lastcategory = "" %>

<h1>CAF Documents</h1>

<div id="caf_documents" data-update-url="<%= sort_caf_documents_url %>">
<% @caf_documents.each do |caf_document| %>
  <% if caf_document.document_category.category_name != lastcategory %>
    <strong><%= caf_document.document_category.category_name %></strong>
  <% end %>

  <%= content_tag_for :div, caf_document do %>
    <div class='show-toc'>
    <%= link_to caf_document.title, caf_document %>
    <% if !caf_document.toc.blank? %>
      <div class='toc'>
        <strong>Table of Contents</strong><br /><%= markdown caf_document.toc %>
      </div>
    <% end %>
    </div>
  <% end %>
  <% lastcategory = caf_document.document_category.category_name %>
<% end %>
</div>
<br />


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New CAF Document', new_caf_document_path %>
    </div>
  <% end %>
<% end %>