<%= link_to 'Back to all Documents', caf_documents_path %>
<div class="row">
<div class="col-xs-12 col-sm-12 moreinfo" style="margin-top: 30px;">
  <div class="btn-group btn-group-justified" role="group" >
    <div class="btn-group" role="group">
        <% if @caf_document.previous.blank? %>       
        <% else %>
          <%= button_to_with_icon( ' --- ' + @caf_document.previous.title, caf_document_path(@caf_document.previous.id), :class => 'btn btn-default btn-lg btn-previous', :method => 'get') %>
        <% end %>
    </div>
    <div class="btn-group" role="group">
        <% if @caf_document.next.blank? %>       
        <% else %>
          <%= button_to_with_icon(@caf_document.next.title +  ' --- ', caf_document_path(@caf_document.next.id), :class => 'btn btn-default btn-lg btn-next', :method => 'get') %> 
        <% end %>
    </div>
  </div>
</div>
</div>
<p id="notice"><%= notice %></p>



<h1><%= @caf_document.title %></h1>

<% if !@caf_document.pdf.blank? %>
   <%= button_to_with_icon('View pdf of ' + @caf_document.title, '../' + @caf_document.pdf.to_s, :target => "_blank", :class => 'btn btn-default btn-lg btn-pdf', :method => 'get') %> 
<% end %>

<p><strong>Category:</strong> <%= @caf_document.document_category.category_name %></p>

<p><strong>Published date:</strong> <%= @caf_document.published_date.strftime("%b %-d, %Y") %></p>



<% if !@caf_document.description.blank? %>
  <p><%= markdown @caf_document.description %></p>
<% end %>

<% if !@caf_document.toc.blank? %>
  <p><%= markdown @caf_document.toc %></p>
<% end %>

<% if !@caf_document.body.blank? %>
  <p><%= markdown @caf_document.body %></p>
<% end %>


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="row">
      <div class='col-sm-12' >
    <div class="admin-section" >
      <div class='row'>
        <div class='col-sm-4'>
          <h2>Admin Document</h2>
          <%= link_to 'Edit Document', edit_caf_document_path(@caf_document) %> |

          <%#= render 'versions', :aircraft => @aircraft %>
        </div>
        <div class='col-sm-4'>
          <h2>Admin Categories</h2>
          <%= link_to 'Edit Categories', edit_document_category_path(@caf_document.document_category) %>
        </div>
      </div>
    </div>
    </div>
    </div>
  <% end %>
<% end %>