<%= form_for(@aircraft) do |f| %>
  <% if @aircraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aircraft.errors.count, "error") %> prohibited this aircraft from being saved:</h2>

      <ul>
      <% @aircraft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :aircraft_type_id, 'Aircraft Type' %><br />
    <%= f.collection_select :aircraft_type_id, AircraftType.all, :id, :aircraft_type_designation, options = {:prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
  <div class="field">
    <%= f.label :n_number %><br />
    <%= f.text_field :n_number %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '30x4' %>
  </div>
  <div class="field">
    <%= f.label :profile_photo %><br />
    <%= f.text_field :profile_photo %>
  </div>
  <div class="field">
    <%= f.label :nose_art %><br />
    <%= f.text_field :nose_art %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :tours %><br />
    <%= f.check_box :tours %>Aircraft tours country? (check for yes)
  </div>
  <div class="field">
    <%= f.label :rides %><br />
    <%= f.check_box :rides %>Aircraft rides available? (check for yes)
  </div>
  <div class="field">
    <%= f.label :unit_id %><br />
    <%= f.collection_select :unit_id, Unit.alpha_order.all, :id, :unit_name, options = {:prompt => true}, html_options = {:class => "styled-select"} %>

  </div>
  <div class="actions">
    <%= f.submit  :data => { :disable_with => "Submitting..." }, :class => 'btn btn-primary' %>
  </div>
<% end %>
