<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @aircraft.name %>
</p>

<p>
  <b>N number:</b>
  <%= @aircraft.n_number %>
</p>

<p>
  <b>Description:</b>
  <%= @aircraft.description %>
</p>

<p>
  <b>Nose art:</b>
  <%= @aircraft.nose_art %>
</p>

<p>
  <b>Aircraft type:</b>
  <%= @aircraft.aircraft_type.aircraft_type_designation %>
</p>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <%= link_to 'Edit', edit_aircraft_path(@aircraft) %> |
    <%= link_to 'Back', aircrafts_path %>
  <% end %>
<% end %>


  <%= render 'versions', :aircraft => @aircraft %>