<h1>Listing unit_assignments</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unit_assignments.each do |unit_assignment| %>
  <tr>
    <td><%= unit_assignment.member %></td>
    <td><%= unit_assignment.unit %></td>
    <td><%= link_to 'Show', unit_assignment %></td>
    <td><%= link_to 'Edit', edit_unit_assignment_path(unit_assignment) %></td>
    <td><%= link_to 'Destroy', unit_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit assignment', new_unit_assignment_path %>
