<h1>Aircraft Types</h1>

<div class="col-sm-12">
  <form id="live-search" action="" class="styled formfilter"" method="post">


    <fieldset>
        <input type="text" class="text-input" id="table-filter" value="" />
        <label>Search/Filter</label>
        <span id="filter-count"></span>
    </fieldset>
</form>
</div>

<table>
  <tr>
    <th>Aircraft class</th>
    <th>Type</th>
    <th>Aircraft Name</th>
    <th>Description</th>
    <th>Manufacturer</th>
    <th>Introduced</th>
    <th>Production years</th>
    <th>Role</th>
<!--        <th>Power</th>
    <th>Length</th>
    <th>Height</th>
    <th>Wingspan</th>
    <th>Empty weight</th>
    <th>Gross weight</th>
    <th>Max weight</th>
    <th>Range</th>
    <th>Max speed</th>
    <th>Cruise speed</th>
    <th>Ceiling</th>
    <th>Crew</th>
    <th>Guns</th>
    <th>Hardpoints</th>
    <th>Rockets</th>
    <th>Bombs</th>
    <th>Fuel capacity</th>
    <th>Fuel burn</th>
    <th>Oil capacity</th>
    <th>Qty produced</th>
    <th>Cost</th>
    <th>Qty still flying</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @aircraft_types.each do |aircraft_type| %>
  <tr class="result">
    <td><% aircraft_type.aircraft_classes.each do |aircraft_class| %>
          <%= aircraft_class.class_type %>
        <% end %>
    </td>
    <td><%= aircraft_type.aircraft_type_designation %></td>
    <td><%= aircraft_type.aircraft_name %></td>
    <td><%= simple_format(truncate(aircraft_type.description, :length => 25, :separator => ' ')) %></td>
    <td><%= aircraft_type.manufacturer %></td>
    <td><%= aircraft_type.introduced %></td>
    <td><%= aircraft_type.production_years %></td>
    <td><%= aircraft_type.role %></td>
<!--    <td><%= aircraft_type.power %></td>
    <td><%= aircraft_type.length %></td>
    <td><%= aircraft_type.height %></td>
    <td><%= aircraft_type.wingspan %></td>
    <td><%= aircraft_type.empty_weight %></td>
    <td><%= aircraft_type.gross_weight %></td>
    <td><%= aircraft_type.max_weight %></td>
    <td><%= aircraft_type.range %></td>
    <td><%= aircraft_type.max_speed %></td>
    <td><%= aircraft_type.cruise_speed %></td>
    <td><%= aircraft_type.ceiling %></td>
    <td><%= aircraft_type.crew %></td>
    <td><%= aircraft_type.guns %></td>
    <td><%= aircraft_type.hardpoints %></td>
    <td><%= aircraft_type.rockets %></td>
    <td><%= aircraft_type.bombs %></td>
    <td><%= aircraft_type.fuel_capacity %></td>
    <td><%= aircraft_type.fuel_burn %></td>
    <td><%= aircraft_type.oil_capacity %></td>
    <td><%= aircraft_type.qty_produced %></td>
    <td><%= aircraft_type.cost %></td>
    <td><%= aircraft_type.qty_still_flying %></td> -->
    <td><%= link_to 'Show', aircraft_type %></td>
    <td><%= link_to 'Edit', edit_aircraft_type_path(aircraft_type) %></td>
    <td><%= link_to 'Destroy', aircraft_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aircraft type', new_aircraft_type_path %>
