<script>


$(function() {
  $('th').click(function(){
      var table = $(this).parents('table').eq(0)
      var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
      this.asc = !this.asc
      if (!this.asc){rows = rows.reverse()}
      for (var i = 0; i < rows.length; i++){table.append(rows[i])}
  })
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
  });

</script>


<h1>Aircraft Types</h1>

<div class="col-sm-12">
  <form id="live-search" action="" class="styled formfilter"" method="post">


    <fieldset>
        <input type="text" class="text-input" id="table-filter" value="" />
        <label>Search/Filter</label>
        <span id="filter-count"></span>
    </fieldset>
</form>
</div>

<table>
  <tr>
    <th>Aircraft class</th>
    <th>Type</th>
    <th>Aircraft Name</th>
    <th>Description</th>
    <th>Manufacturer</th>
    <th>Introduced</th>
    <th>Production years</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @aircraft_types.each do |aircraft_type| %>
  <tr class="result">
    <td><% aircraft_type.aircraft_classes.each do |aircraft_class| %>
          <%= aircraft_class.class_type %>
        <% end %>
    </td>
    <td><%= aircraft_type.aircraft_type_designation %></td>
    <td><%= aircraft_type.aircraft_name %></td>
    <td><%= simple_format(truncate(aircraft_type.description, :length => 25, :separator => ' ')) %></td>
    <td><%= aircraft_type.manufacturer %></td>
    <td><%= aircraft_type.introduced %></td>
    <td><%= aircraft_type.production_years %></td>
    <td><%= aircraft_type.role %></td>
    <td><%= link_to 'Show', aircraft_type %></td>
    <td><%= link_to 'Edit', edit_aircraft_type_path(aircraft_type) %></td>
    <td><%= link_to 'Destroy', aircraft_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aircraft type', new_aircraft_type_path %>
