<p id="notice"><%= notice %></p>

<p>
  <b>Aircraft class:</b>
  <%= @aircraft_type.aircraft_class.class_type %>
</p>

<p>
  <b>Type:</b>
  <%= @aircraft_type.aircraft_type %>
</p>

<p>
  <b>Description:</b>
  <%= @aircraft_type.description %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @aircraft_type.manufacturer %>
</p>

<p>
  <b>Introduced:</b>
  <%= @aircraft_type.introduced %>
</p>

<p>
  <b>Production years:</b>
  <%= @aircraft_type.production_years %>
</p>

<p>
  <b>Role:</b>
  <%= @aircraft_type.role %>
</p>

<p>
  <b>Power:</b>
  <%= @aircraft_type.power %>
</p>

<p>
  <b>Length:</b>
  <%= @aircraft_type.length %>
</p>

<p>
  <b>Height:</b>
  <%= @aircraft_type.height %>
</p>

<p>
  <b>Wingspan:</b>
  <%= @aircraft_type.wingspan %>
</p>

<p>
  <b>Empty weight:</b>
  <%= @aircraft_type.empty_weight %>
</p>

<p>
  <b>Gross weight:</b>
  <%= @aircraft_type.gross_weight %>
</p>

<p>
  <b>Max weight:</b>
  <%= @aircraft_type.max_weight %>
</p>

<p>
  <b>Range:</b>
  <%= @aircraft_type.range %>
</p>

<p>
  <b>Max speed:</b>
  <%= @aircraft_type.max_speed %>
</p>

<p>
  <b>Cruise speed:</b>
  <%= @aircraft_type.cruise_speed %>
</p>

<p>
  <b>Ceiling:</b>
  <%= @aircraft_type.ceiling %>
</p>

<p>
  <b>Crew:</b>
  <%= @aircraft_type.crew %>
</p>

<p>
  <b>Guns:</b>
  <%= @aircraft_type.guns %>
</p>

<p>
  <b>Hardpoints:</b>
  <%= @aircraft_type.hardpoints %>
</p>

<p>
  <b>Rockets:</b>
  <%= @aircraft_type.rockets %>
</p>

<p>
  <b>Bombs:</b>
  <%= @aircraft_type.bombs %>
</p>

<p>
  <b>Fuel capacity:</b>
  <%= @aircraft_type.fuel_capacity %>
</p>

<p>
  <b>Fuel burn:</b>
  <%= @aircraft_type.fuel_burn %>
</p>

<p>
  <b>Oil capacity:</b>
  <%= @aircraft_type.oil_capacity %>
</p>

<p>
  <b>Qty produced:</b>
  <%= @aircraft_type.qty_produced %>
</p>

<p>
  <b>Cost:</b>
  <%= @aircraft_type.cost %>
</p>

<p>
  <b>Qty still flying:</b>
  <%= @aircraft_type.qty_still_flying %>
</p>


<%= link_to 'Edit', edit_aircraft_type_path(@aircraft_type) %> |
<%= link_to 'Back', aircraft_types_path %>
