<h2 class="space">Revision History</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Event</th>
      <th>Change(s)</th>
      <th>Author</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- @aircraft.versions.reverse.each do |version| %>
      <tr>
        <td><%= version.created_at.strftime("%b %d, %Y") %></td>
        <td><%= version.event.humanize %></td>
        <td><ul><% version.changeset.each do |k, v| %>
          <li><%= k %></li>
        <% end %></ul>
        </td>
        <td><%= find_version_author_name(version) %></td>
        <td><%= link_to 'Diff', diff_unit_version_path(@aircraft, version) %></td>
        <td><%= link_to 'Rollback', rollback_unit_version_path(@aircraft, version), :method => 'put' %></td>
      </tr>
    <% end %>
  </tbody>
</table>