<%= render "layouts/scripts" %>

<h1>Aircraft Admin <span style="font-size: 0.65em;"><%= @aircrafts.count %> Aircraft</span></h1>

<div class="col-sm-12">
  <form id="live-search" action="" class="styled formfilter" method="post">
    <fieldset>
        <input type="text" class="text-input" id="table-filter" value="" />
        <label>Search/Filter</label>
        <span id="filter-count"></span>
    </fieldset>
</form>
</div>

<table>
  <tr>
    <th class="sortable">Aircraft Class</th>
    <th class="sortable">Aircraft Type</th>
    <th class="sortable">Image</th>
    <th class="sortable">Name</th>
    <th class="sortable">N-number</th>
    <th class="sortable">Description</th>
    <th class="sortable">Unit</th>
<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <th></th>
    <th></th>
  <% end %>
<% end %>
  </tr>

<% @aircrafts.each do |aircraft| %>
  <tr class='result'>
    <td><% aircraft.aircraft_type.aircraft_classes.each do |ac_class| %>
          <%= ac_class. class_type %>
        <% end %>
    
    </td>
    <td><%= aircraft.aircraft_type.aircraft_type_designation %></td>
    <td><img src="<%= aircraft.profile_photo.url(:thumb).to_s %>"></td>
    <td><%= aircraft.name %></td>
    <td><%= link_to aircraft.n_number, aircraft %></td>
    <td><%= simple_format(truncate(aircraft.description, :length => 50, :separator => ' ')) %></td>
    <td><% if !aircraft.unit.nil? %><%= aircraft.unit.unit_name %><% else %>n/a<% end %></td>
<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
    <td><%= link_to 'Destroy', aircraft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
<% end %>
</table>

<br />


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Aircraft', new_aircraft_path %>
    </div>
  <% end %>
<% end %>