<%= render "layouts/scripts" %>

<h1>Collection / CAF Fleet <span style="font-size: 0.65em;"><%= @aircrafts.count %> Aircraft</span></h1>
  <div class="typeair">


  <% @aircraft_classes.each do |aircraft_class| %>
    <div class="col-xs-12 col-sm-4">
    <a href="#" class="collection">
    <%= image_tag aircraft_class.type_picture %><br>
    <h2><%= aircraft_class.class_type %> x<%= aircraft_class.aircraft.count %></h2>
    </a>
    </div>
  <% end %>
  </div>
  <div class="col-sm-12">
  <form id="live-search" action="" class="styled formfilter"" method="post">


    <fieldset>
        <input type="text" class="text-input" id="filter" value="" />
        <label>Search/Filter</label>
        <span id="filter-count"></span>
    </fieldset>
</form>
</div>

<div class='row'>
<% @aircrafts.each do |aircraft| %>
  <div class="col-xs-12 col-sm-4 col-md-3 blocchi-parent" style="min-height: 250px;">
    <a href="aircraft/<%= aircraft.id %>" class="blocchi-unit">
      <% if aircraft.profile_photo? %>
      <img src="<%= aircraft.profile_photo.url(:directory_size).to_s %>">
      <% else %>
      <img src="/uploads/aircraft_profile_photos/default_2.jpg" />
      <% end %>
      <div class="bottone">
        <h4><%= aircraft.aircraft_type.aircraft_type_designation + ' ' + aircraft.name %></h4>
        <p><%= aircraft.n_number %></p>
        <% if !aircraft.unit.blank? %>
        <p><%= aircraft.unit.unit_name %><br /><%= aircraft.unit.city + ', ' + aircraft.unit.state %></p>
        <% if !aircraft.aircraft_type.aircraft_classes.blank? %>
            <% aircraft.aircraft_type.aircraft_classes.each do |aircraft_class| %>
              <div style="display: none"><%= aircraft_class.class_type %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </a>
  </div>

<% end %>

</div>

<br />


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Aircraft', new_aircraft_path %>
    </div>
  <% end %>
<% end %>