<div class="col-xs-12 col-sm-12 moreinfo">
  <div class="btn-group btn-group-justified" role="group" >
    <div class="btn-group" role="group">
      <% if @aircraft.id - 1 >= 1 %>
        <%= button_to 'Previous Aircraft', aircraft_path(@aircraft.id - 1), :class => 'btn btn-default btn-lg', :method => 'get' %> 
      <% else %>
        <%= button_to 'Previous Aircraft', aircraft_path(@aircraft.id - 1), :class => 'btn btn-default btn-lg disabled', :method => 'get' %>
      <% end %>
    </div>
  <div class="btn-group" role="group">
  <%= button_to 'Back to all aircraft', aircraft_index_path, :class => 'btn btn-default btn-lg', :method => 'get' %> 
  </div>
    <div class="btn-group" role="group">
      <% if @aircraft.id + 1 <= @all_aircrafts.last.id %>
        <%= button_to 'Next Aircraft', aircraft_path(@aircraft.id + 1), :class => 'btn btn-default btn-lg', :method => 'get' %> 
      <% else %>
        <em> <- end</em>
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-12">
        <h1><%= @aircraft.aircraft_type.aircraft_type_designation %> <%= @aircraft.name %><span> <%= @aircraft.unit.unit_name %></span></h1>


<div class="col-xs-12 col-sm-6">
    <div class="blocchi-aircraft">
      <% if @aircraft.profile_photo? %>
      <img src="<%= @aircraft.profile_photo.url(:landscape_profile).to_s %>" />
      <% else %>
        <img src="http://polarbeardesign.net/uploads/misc_images/default_2.jpg" />
      <% end %>
    </div>
</div>

<div class="col-xs-12 col-sm-6">


<% if !@aircraft.description.blank? %>
  <p><strong>Description:</strong></p>
  <div class="indent">
  <% if @aircraft.description.length > 500 %>
    <%= truncate(@aircraft.description, :length => 500, :separator => ' ') %> <em><a href="#aircraft_info">Read more</a></em>
  <% else %>
    <%= markdown @aircraft.description %>
  <% end %>
  </div>
<% end %>


<p class="tight-top" ><strong>Base:</strong><br>
  <div class="indent"><% if @aircraft.unit.airport_name? %>
<%= @aircraft.unit.airport_name + ', ' %>
<% end %>
<%= @aircraft.unit.city + ', ' + @aircraft.unit.state %></h2>
</div>
</p>

<p class="tight-top" ><strong>Website:</strong><br>
  <div class="indent">
<%= link_to @aircraft.unit.website, @aircraft.unit.website %>
</div>
</p>

</div>
<a name="aircraft_info"></a>

<div class="col-xs-12 col-sm-12 moreinfo">

<div class="btn-group btn-group-justified bt-vermobile" role="group" >
  <% if !@aircraft.unit.rides_url.blank? %>
  <div class="btn-group" role="group">
    <a href="<%= @aircraft.unit.rides_url %>" class="btn btn-default btn-buy" target="_blank"><strong>Buy</strong> a Ride</a>
  </div>
  <% end %>
  <% if !@aircraft.unit.donate_url.blank? %>
  <div class="btn-group" role="group">
    <a href="<%= @aircraft.unit.donate_url %>" class="btn btn-default btn-donate" target="_blank"><strong>Donate</strong> to Unit</a>
  </div>
  <% end %>
  <% if !@aircraft.unit.join_url.blank? %>
  <div class="btn-group" role="group">
    <a href="<%= @aircraft.unit.join_url %>" class="btn btn-default btn-join" target="_blank"><strong>Join</strong> Unit</a>
  </div>
  <% end %>
</div>

</div>

<div class="col-xs-12 col-sm-12 moreinfo" style="margin-top: 2em;">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#aircraft" data-toggle="tab"><i class="fa fa-plane"></i> Our Aircraft</a></li>
            <li><a href="#history" data-toggle="tab"><i class="fa fa-university"></i> History</a></li>
            <li><a href="#specs" data-toggle="tab"><i class="fa fa-book"></i> Specs</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="aircraft">
              <div class="media">
              
                <div class="media-body">
                  <% if !@aircraft.description.blank? %>
                  <%= markdown @aircraft.description %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="history">
              <div class="media">
              
                <div class="media-body">
                  <% if !@aircraft.aircraft_type.description.blank? %>
                  <%= markdown @aircraft.aircraft_type.description %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="specs">
              <div class="media">
              
                <div class="media-body">
<div class="row">
          <div class="col-sm-4">
                <% if @aircraft.aircraft_type.silhouette? %>
      <img src="<%= @aircraft.aircraft_type.silhouette.to_s %>" width="100%" />
      <% else %>
        <img src="http://polarbeardesign.net/uploads/misc_images/default_2.jpg" />
      <% end %>
          </div>
          <div class="col-sm-8">
          <table>
          <tr>
            <th colspan='2'><%= @aircraft.aircraft_type.aircraft_type_designation %> Specs</th>
          </tr>
          <tr>
            <td>Role</td>
            <td><%= @aircraft.aircraft_type.role %></td>
          </tr>
          <tr>
            <td>Manufacturer</td>
            <td><%= @aircraft.aircraft_type.manufacturer %></td>
          </tr>
          <tr>
            <td>Introduced</td>
            <td><%= @aircraft.aircraft_type.introduced %></td>
          </tr>
          <tr>
            <td>Produced</td>
            <td><%= @aircraft.aircraft_type.production_years %></td>
          </tr>
          <tr>
            <td>Power</td>
            <td><%= @aircraft.aircraft_type.power %></td>
          </tr>
          <tr>
            <td>Length</td>
            <td><%= @aircraft.aircraft_type.length %></td>
          </tr>
          <tr>
            <td>Height</td>
            <td><%= @aircraft.aircraft_type.height %></td>
          </tr>
          <tr>
            <td>Wingspan</td>
            <td><%= @aircraft.aircraft_type.wingspan %></td>
          </tr>
          <tr>
            <td>Range</td>
            <td><%= @aircraft.aircraft_type.range %></td>
          </tr>
        </table>
</div>
</div>
                </div>
              </div>
            </div>
      
          </div>
  
</div>  
</div>
</div>
</div>
  
    <% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="row">
      <div class='col-sm-12' >
    <div class="admin-section" >
      <div class='row'>
        <div class='col-sm-7'>
          <h2 class="space">Admin Aircraft</h2>
            <div class="row">
              <div class='col-sm-4' style="border-right: 1px solid #ccc;" >
                <%= button_to 'Edit Aircraft', edit_aircraft_path(@aircraft), method: :get, :class => "btn-default btn1" %>
              </div>
              <div class='col-sm-8'>
                <%= button_to 'Back to all Aircraft', aircraft_index_path, method: :get, :class => "btn-default btn1" %>
              </div>
            </div>
          <%= render 'versions', :aircraft => @aircraft %>
        </div>
        <div class='col-sm-4'>
          <h2 class="space">Admin Aircraft Type</h2>
          <%= button_to 'Edit Aircraft Type', edit_aircraft_type_path(@aircraft.aircraft_type), method: :get, :class => "btn-default btn1" %>
        </div>
      </div>
    </div>
    </div>
    </div>
  <% end %>
<% end %>
  