<div id="fb-root"></div>
<%= render "fb_events" %>

<% initial_date = "" %>


<ul>
<div id="results">
</div>
</ul>

<h1>Upcoming Events</h1>
<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <%= link_to 'Add New Event', new_event_path %>
  <% end %>
<% end %>

<% if !@events.blank? %>
<% @events.each do |event| %>
  <% if initial_date == "" %>
<div class="month-subheader">
   <strong><%= event.event_start.strftime("%B - %Y") %></strong>
</div>
  <% elsif event.event_start.strftime("%B - %Y") != initial_date %>
<div class="month-subheader">
   <strong><%= event.event_start.strftime("%B - %Y") %></strong>
</div>
  <% end %>
<div class="calendar_row">

  <div class="cell" style="width: 25%;">
    <% if event.event_start.strftime("%b %d" ) == event.event_end.strftime("%b %d") %>
    <div class='date-range'>
    <div class="calendar-ii">
      <div class="calendar_month-ii"><%= event.event_start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.event_start.strftime("%d") %></div>
    </div>
    </div>
    <% else %>
    <div class='date-range'>
    <div class="calendar-ii" style="margin-left: 1.5em;">
      <div class="calendar_month-ii"><%= event.event_start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.event_start.strftime("%d") %></div>
    </div>
    <span style=" font-size: 1em; margin: 0.5em 0 0 0;">&#8211; </span>
    <div class="calendar-ii">
      <div class="calendar_month-ii"><%= event.event_end.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.event_end.strftime("%d") %></div>
    </div>
    </div>
    <% end %>
    <div class="location"><%= event.location.city + ", " + event.location.state %></div>
  </div>
  <div class="cell" style="width: 70%;">
    <strong><em><%= link_to event.event_title, event %></em></strong>
    <% if event.event_statuses_id == 2 %>
      <span class="event-flag" style="display: inline;"> &lt;= Tentative</span>
    <% elsif event.event_statuses_id == 3 %>
      <span class="event-flag" style="display: inline;"> &lt;= Canceled</span>
    <% end %>
    <br />
      <% if event.details.length > 220 %>
        <%= truncate(event.details, :length => 220, :separator => ' ') %> <em><%= link_to "Go to event", event %></em>
      <% else %>
        <%= event.details %>
      <% end %>

  </div>
  </div>
<% initial_date = event.event_start.strftime("%B - %Y").to_s %>
<div class="clearer"></div>
<% end %>

<% else %>
   <div class="calendar_row" style="width: 90%; padding-top: 0.25em">
     <div class="cell" style="width: 25%;">&nbsp;</div>
       No scheduled events at this time.
   </div>
<% end %>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Event', new_event_path %> |
    </div>
  <% end %>
<% end %>