<h1>Listing events</h1>

<table>
  <tr>
    <th>Event start</th>
    <th>Event end</th>
    <th>Event title</th>
    <th>Event statuses</th>
    <th>Location</th>
    <th>Event url</th>
    <th>Contact info</th>
    <th>Details</th>
    <th>Graphic address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_start %></td>
    <td><%= event.event_end %></td>
    <td><%= event.event_title %></td>
    <td><%= event.event_statuses_id %></td>
    <td><%= event.location_id %></td>
    <td><%= event.event_URL %></td>
    <td><%= event.contact_info %></td>
    <td><%= event.details %></td>
    <td><%= event.graphic_address %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
