<h1><%= @event.event_title %></h1>

<p>
  <b>Location:</b>
  <%= @event.location.location_name %>
</p>

<p>
  <b>Event start:</b>
  <%= @event.event_start.strftime('%b %d, %Y %I:%M %p %Z') %>
</p>

<p>
  <b>Event end:</b>
  <%= @event.event_end.strftime('%b %d, %Y %I:%M %p %Z') %>
</p>

<p>
  <b>More Info:</b>
  <%= link_to @event.event_URL, @event.event_URL %>
</p>

<p>
  <b>Contact:</b>
  <%= @event.contact_info %>
</p>

<p>
  <b>Details:</b>
  <%= @event.details %>
</p>

<p>
  <b>Graphic address:</b>
  <%= @event.graphic_address %>
</p>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Back', events_path %>

        <%= render 'versions', :member => @member %>
    </div>
  <% end %>
<% end %>

