<p id="notice"><%= notice %></p>

<p>
  <b>Right:</b>
  <%= @grant.right_id %>
</p>

<p>
  <b>Role:</b>
  <%= @grant.role_id %>
</p>


<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
