<%= render "layouts/scripts" %>


<%= button_to 'Back to CAF Headquarters website', 'https://commemorativeairforce.org/', :class => 'btn btn-info btn-lg', :method => 'get' %>
<h1>CAF Unit Map <span style="font-size: 0.65em;"><%= @units.count %> units</span></h1>

    <script>
      function initMap() {
        var styledMapType = new google.maps.StyledMapType(
          [
            {
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ebe3cd"
                }
              ]
            },
            {
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#523735"
                }
              ]
            },
            {
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#f5f1e6"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#c9b2a6"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#dcd2be"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#ae9e90"
                }
              ]
            },
            {
              "featureType": "administrative.neighborhood",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "landscape.natural",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dfd2ae"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dfd2ae"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#93817c"
                }
              ]
            },
            {
              "featureType": "poi.business",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#a5b076"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#447530"
                }
              ]
            },
            {
              "featureType": "road",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f5f1e6"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#fdfcf8"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f8c967"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#e9bc62"
                }
              ]
            },
            {
              "featureType": "road.highway.controlled_access",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e98d58"
                }
              ]
            },
            {
              "featureType": "road.highway.controlled_access",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#db8555"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#806b63"
                }
              ]
            },
            {
              "featureType": "transit",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "transit.line",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dfd2ae"
                }
              ]
            },
            {
              "featureType": "transit.line",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#8f7d77"
                }
              ]
            },
            {
              "featureType": "transit.line",
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#ebe3cd"
                }
              ]
            },
            {
              "featureType": "transit.station",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dfd2ae"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#b9d3c2"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels.text",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#92998d"
                }
              ]
            }
          ],
          {name: 'Vintage'});

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38.0000, lng: -97.00003},
          zoom: 5,
            scrollwheel: false,
          mapTypeControlOptions: {
            mapTypeIds: ['Vintage','roadmap', 'satellite', 'hybrid', 
            'terrain'],
          }
        });
<% @units.each_with_index do |unit, i| %>

<% if !unit.latitude.blank? %>
       var marker<%= i %> = new google.maps.Marker({
          position: {lat: <%= unit.latitude %>, lng: <%= unit.longitude %>},
          map: map
        });
<% end %>
<% end %>
        map.mapTypes.set('Vintage', styledMapType);
        map.setMapTypeId('Vintage');
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2CUo-V9LEi2YuJvh6F_Sf7NkmpXnC4yE&callback=initMap">
    </script>

<div id="map" style="width: 100%; height: 600px"></div>

<div class="col-sm-12">
  <form id="live-search" action="" class="styled formfilter"" method="post">


    <fieldset>
        <input type="text" class="text-input" id="filter" value="" />
        <label>Search/Filter</label>
        <span id="filter-count"></span>
    </fieldset>
</form>
</div>


<div class="row"> 
<% @units.each do |unit| %>

  <div class="col-xs-12 col-sm-4 col-md-3 blocchi-parent">
    <a href="units/<%= unit.id %>" class="blocchi-unit">
      <% if unit.unit_logo? %>
      <img src="<%= unit.unit_logo.url(:directory_size).to_s %>" style="max-height: 264px;" />
      <% else %>
      <img src="/uploads/website_images/default_unit_logo.jpg" />
      <% end %>
      <div class="bottone">
        <h4><%= unit.unit_name %></h4>
        <p><%= unit.city + ', ' + unit.state %></p>
        <% if !unit.aircrafts.blank? %>
            <% unit.aircrafts.each do |aircraft| %>
              <div style="display: none;"><%= aircraft.aircraft_type.aircraft_type_designation + ' ' + aircraft.aircraft_type.aircraft_name + ' ' + aircraft.name %></div>
            <% end %>
          <% end %>
        
      </div>
    </a>
  </div>
  <% end %>
</div>

<br />

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Unit', new_unit_path %>
    </div>
  <% end %>
<% end %>