<div class='row'>
  <div class='col-sm-10 col-sm-push-1'>

    <h1>Listing units <%= @units.count %></h1>

    <table>
      <tr>
        <th>Unit name</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Postal code</th>
        <th>Primary phone</th>
        <th>Primary email</th>
        <th>Website</th>
        <th>Description</th>
    <% if signed_in?%>
      <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
          <th></th>
        <th></th>
      <% end %>
    <% end %>
      </tr>

    <% @units.each do |unit| %>
      <tr>
        <td><%= link_to unit.unit_name, unit %></td>
        <td><%= unit.address_1 %></td>
        <td><%= unit.address_2 %></td>
        <td><%= unit.city %></td>
        <td><%= unit.state %></td>
        <td><%= unit.postal_code %></td>
        <td><%= unit.primary_phone %></td>
        <td><%= unit.primary_email %></td>
        <td><%= unit.website %></td>
        <td><%= unit.description %></td>
    <% if signed_in?%>
      <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
          <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
      </tr>
    <% end %>
    </table>

    <br />

  </div>
</div>
<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Unit', new_unit_path %>
    </div>
  <% end %>
<% end %>