<h1>Listing units <%= @units.count %></h1>

<table>
  <tr>
    <th>Unit name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Postal code</th>
    <th>Primary phone</th>
    <th>Primary email</th>
    <th>Website</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= link_to unit.unit_name, unit %></td>
    <td><%= unit.address_1 %></td>
    <td><%= unit.address_2 %></td>
    <td><%= unit.city %></td>
    <td><%= unit.state %></td>
    <td><%= unit.postal_code %></td>
    <td><%= unit.primary_phone %></td>
    <td><%= unit.primary_email %></td>
    <td><%= unit.website %></td>
    <td><%= unit.description %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
