<%= render "layouts/scripts" %>

<h1>CAF Units <%= @units.count %></h1>


<div class="row"> 
<% @units.each do |unit| %>

	<div class="col-xs-12 col-sm-4 col-md-3">
		<a href="units/<%= unit.id %>" class="blocchi-unit">
      <% if unit.unit_logo? %>
      <img src="/uploads/unit_logos/<%= unit.unit_logo %>" style="max-height: 264px;" />
      <% else %>
      <img src="http://polarbeardesign.net/uploads/misc_images/unit_logo_generic.jpg" />
      <% end %>
			<div class="bottone">
				<h4><%= unit.unit_name %></h4>
				<p><%= unit.city + ', ' + unit.state %></p>
			</div>
		</a>
	</div>
<% end %>
</div>

<br />

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Unit', new_unit_path %>
    </div>
  <% end %>
<% end %>