<p id="notice"><%= notice %></p>

<p>
  <strong><%= @unit.unit_name %></strong><br />
  <%= @unit.address_1 %><br />
<% if !@unit.address_2.blank? %>
  <%= @unit.address_2 %><br />
<% end %>
  <%= @unit.city %>, <%= @unit.state %> <%= @unit.postal_code %>
</p>

<p>
  Primary phone: <%= @unit.primary_phone %></br />
  Primary email: <%= @unit.primary_email %></br />
  Website: <%= @unit.website %></br />
</p>

<p>
  Description:</br />
  <%= @unit.description %>
</p>

<h1>Unit Aircraft x<%= @unit.aircrafts.count %></h1>

<ol>
<% @unit.aircrafts.each do |aircraft| %>
 <li><%= link_to aircraft.aircraft_type.aircraft_type_designation + ' ' + aircraft.name, aircraft_path(aircraft) %>
<% end %>
</ol>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
