<div class='row' style='margin-bottom: 0.5em;'>
  <div class='col-sm-6' >
      <h1 class="reverse"><%= @unit.unit_name %></h1>
    <img src="<%= @unit.unit_logo %>" width="100%" />
  </div>
  <div class='col-sm-6'>
    <h1 class="reverse"><%= @unit.city %>, <%= @unit.state %></h1>
    <p><%= @unit.unit_name %><br />
      <%= @unit.address_1 %><br />
    <% if !@unit.address_2.blank? %>
      <%= @unit.address_2 %><br />
    <% end %>
      <%= @unit.city %>, <%= @unit.state %> <%= @unit.postal_code %></p>

    <p>
      Primary phone: <%= @unit.primary_phone %></br />
      Primary email: <%= @unit.primary_email %></br />
      Website: <%= @unit.website %></br />
    </p>
  </div>
  <div class='col-sm-4'>
    <% if !@unit.facebook.blank? %>
      <a href="<%= @unit.facebook %>" ><img src="https://www.devildogsquadron.com/assets/facebook_icon-cd7457bcfdc62efb72ee37b87f637aa8.png" /></a></br />
    <% end %>
    <% if !@unit.twitter.blank? %>
      <a href="<%= @unit.twitter %>" ><img src="https://www.devildogsquadron.com/assets/twitter_icon-4eaa5de94eabb68780f362280c569c38.png" /></a></br />
    <% end %>
  </div>
</div>

<div style="clear: both;"></div>

<div class='row'>
    <div class='col-sm-4'>

      <h3 class='reverse'>About</h3>
    <p>
      <%= @unit.description %>
    </p>
  </div>
    <div class='col-sm-4'>

      <h3 class='reverse'>Unit Aircraft x<%= @unit.aircrafts.count %></h3>

      <ol>
      <% @unit.aircrafts.each do |aircraft| %>
       <li><%= link_to aircraft.aircraft_type.aircraft_type_designation + ' ' + aircraft.aircraft_type.aircraft_name + ' ' + aircraft.name, aircraft_path(aircraft) %>
      <% end %>
      </ol>
  </div>
    <div class='col-sm-4'>

      <h3 class='reverse'>Events</h3>
    <p>
      placeholder
    </p>
  </div>
</div>

<div style="clear: both;"></div>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin Unit</h2>
      <%= link_to 'Edit Unit', edit_unit_path(@unit) %> |
      <%= link_to 'Back to all Units', units_path %>

      <%= render 'versions', :unit => @unit %>
    </div>
  <% end %>
<% end %>