<div class="moreinfo" style="margin-bottom: 30px;">

<div class="btn-group btn-group-justified" role="group" >
  <div class="btn-group" role="group">
    <% if @unit.id - 1 >= 1 %>
      <%= button_to 'Previous unit', unit_path(@unit.id - 1), :class => 'btn btn-default btn-lg', :method => 'get' %> 
    <% else %>
      <%= button_to 'Previous unit', unit_path(@unit.id - 1), :class => 'btn btn-default btn-lg disabled', :method => 'get' %>
    <% end %>
  </div>
  <div class="btn-group" role="group">
  <%= button_to 'Back to all units', units_path, :class => 'btn btn-default btn-lg', :method => 'get' %> 
  </div>
  <div class="btn-group" role="group">
    <% if @unit.id + 1 <= @all_units.last.id %>
      <%= button_to 'Next unit', unit_path(@unit.id + 1), :class => 'btn btn-default btn-lg', :method => 'get' %> 
    <% else %>
      <em> <- end</em>
    <% end %>
  </div>
</div>

</div> 

<h1><%= @unit.unit_name %> <span><%= @unit.city %>, <%= @unit.state %></span></h1>
  
<div class="col-xs-12 col-sm-3">
    <div class="blocchi-unit">
      <% if @unit.unit_logo? %>
      <img src="<%= @unit.unit_logo.url(:directory_size).to_s %>" />
      <% else %>
      <img src="http://caf.polarbeardesign.net/uploads/unit_logos/default_unit_logo.jpg" />
      <% end %>
    </div>
</div>

<div class="col-xs-12 col-sm-4">
  <p><strong>Address:</strong><br>
      <% if !@unit.airport_name.blank? %>
        <%= @unit.airport_name %><br />
      <% end %>
      <%= @unit.address_1 %><br />
      <% if !@unit.address_2.blank? %>
        <%= @unit.address_2 %><br />
      <% end %>
        <%= @unit.city %>, <%= @unit.state %> <%= @unit.postal_code %>
  </p>
  <p><strong>Contact number:</strong><br>
   <%= @unit.primary_phone %>
  </p>
  <p><strong>Website:</strong><br>
  <%= link_to @unit.website, @unit.website, :target => "_blank" %>
  </p>
</div>

<div class="col-xs-12 col-sm-3">
  <div class="socialunit">
  <h4>Follow Us</h4>
    <% if !@unit.social_links.blank? %>
      <% @unit.social_links.each do |social_link| %>
        <li><a href="<%= social_link.brand_url %>" target="_blank" ><i class="fa <%= social_link.social_brand.brand_icon %>"></i><%= social_link.social_brand.social_brand_name %></a></li>
      <% end %>
  
  
    <% end %>
  
  </div>
</div>

<div class="col-xs-12 col-sm-12 moreinfo">

<div class="btn-group btn-group-justified bt-vermobile" role="group" >
  <% if !@unit.rides_url.blank? %>
  <div class="btn-group" role="group">
    <a href="<%= @unit.rides_url %>" class="btn btn-default btn-buy" target="_blank"><strong>Buy</strong> a Ride</a>
  </div>
  <% end %>
  <% if !@unit.donate_url.blank? %>
  <div class="btn-group" role="group">
    <a href="<%= @unit.donate_url %>" class="btn btn-default btn-donate" target="_blank"><strong>Donate</strong> to Unit</a>
  </div>
  <% end %>
  <% if !@unit.join_url.blank? %>
  <div class="btn-group" role="group">
    <a href="<%= @unit.join_url %>" class="btn btn-default btn-join" target="_blank"><strong>Join</strong> Unit</a>
  </div>
  <% end %>
</div>

</div>

<div class="col-xs-12 col-sm-12 moreinfo" style="margin-top: 2em;">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#aboutus" data-toggle="tab"><i class="fa fa-info-circle"></i> About</a></li>
            <li><a href="#aircraft" data-toggle="tab"><i class="fa fa-plane"></i> Aircraft  x<%= @unit.aircrafts.count %></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="aboutus">
              <div class="media">
              
                <div class="media-body">
                  <p><%= markdown @unit.description %></p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="aircraft">
              <div class="media">
              
                <div class="media-body">
                          <% if !@unit.aircrafts.blank? %>
                          <% @unit.aircrafts.each do |aircraft| %>
                             <div class="row">
                               <div class="col-sm-3">
                                <% if aircraft.profile_photo? %>
                                  <img src='<%= aircraft.profile_photo.url(:directory_size).to_s %>' width="250px" class="profile_photo" />
                                <% else %>
                                  <img src='/uploads/aircraft_profile_photos/default_2.jpg' width="250px" class="profile_photo" />
                                <% end %>
                               </div>
                               <div class="col-sm-9">
                                 <h2><%= aircraft.aircraft_type.aircraft_type_designation + ' ' + aircraft.aircraft_type.aircraft_name + ' ' + aircraft.name %> <span><%= link_to 'More Info', aircraft_path(aircraft) %></span></h2>
                                       <% if aircraft.description? %>
                                         <% if aircraft.description.length > 700 %>
                                            <%= truncate(aircraft.description, :length => 700, :separator => ' ') %> <em>...</em>
                                          <% else %>
                                            <%= markdown aircraft.description %>
                                          <% end %>
                                        <% end %>                                 
                                 
                                   <% if signed_in?%>
                                     <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
                                       <br /><%= link_to 'Edit Aircraft', edit_aircraft_path(aircraft) %>
                                     <% end %>
                                   <% end %>
                               </div>
                             </div>
                          <% end %>
                          <% else %>
                          <p>No aircraft currently assigned.</p>
                          <% end %>
                </div>
              </div>
            </div>
  
</div>	  



  
  

  
  





<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="row">
      <div class='col-sm-12' >
        <div class="admin-section" >
          <h2 class="space">Admin Unit</h2>
            <div class="row">
              <div class='col-sm-2' style="border-right: 1px solid #ccc;" >
                <%= button_to 'Edit Unit', edit_unit_path(@unit), method: :get, :class => "btn-default btn1" %>
              </div>
              <div class='col-sm-10'>
                <%= button_to 'Back to all Units', units_path, method: :get, :class => "btn-default btn1" %>
              </div>
            </div>
          <%= render 'versions', :unit => @unit %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>