<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="field col-sm-4">
    *<%= f.label :location_name_short, 'Short name' %> <span class="form-tip">something unique and short</span><br />
    <%= f.text_field :location_name_short, :autofocus => true %>
  </div>
  <div class="field col-sm-4">
    <%= f.label :location_name %><br />
    <%= f.text_field :location_name %>
  </div>
</div>
<div class="row">
  <div class="field col-sm-4">
    <%= f.label :airport_name %><br />
    <%= f.text_field :airport_name %>
  </div>
  <div class="field col-sm-4">
    <%= f.label :icao_identifier, "ICAO Identifier" %><br />
    <%= f.text_field :icao_identifier %>
  </div>
</div>
<div class="row">
  <div class="field col-sm-4">
    <%= f.label :address %><br />
    <%= f.text_field :address, :class => 'boxsizingBorder' %>
  </div>
</div>
<div class="row">
  <div class="field col-sm-4">
    *<%= f.label :city %><br />
    <%= f.text_field :city, :class => 'boxsizingBorder' %>
  </div>
  <div class="field col-sm-4">
    *<%= f.label :state %><br />
    <%= f.text_field :state, :class => 'boxsizingBorder' %>
  </div>
  <div class="field col-sm-4">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, :class => 'boxsizingBorder' %>
  </div>
</div>
<div class="row">
  <div class="field col-sm-6">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude, :class => 'boxsizingBorder' %>
  </div>
  <div class="field col-sm-6">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude, :class => 'boxsizingBorder' %>
  </div>
</div>




  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :class => 'boxsizingBorder' %>
  </div>
  <div class="actions">
    <%= f.submit:data => { :disable_with => "Submitting ..." }, :class => "btn-default btn1" %>
  </div>
<% end %>
