<!DOCTYPE html>
<html>
<head>
  <title>Commemorative Air Force</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="login-bar">
  <% if user_signed_in? %>
    Welcome: <%= current_user.member.first_name + ' ' + current_user.member.last_name %> | 
    <%= link_to current_user.email, member_path(current_user.member) %> | 
    Last login: <%= current_user.last_sign_in_at.strftime('%H:%M on %m/%d/%y') %> | 
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</div>
<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul class="links">
  <li><a href="/aircraft_classes">Aircraft Classes</a></li>
  <li><a href="/aircraft_types">Aircraft Types</a></li>
  <li><a href="/aircrafts">Aircraft</a></li>
  <li><a href="/assignments">Assignments</a></li>
  <li><a href="/grants">Grants</a></li>
  <li><a href="/members">Members</a></li>
  <li><a href="/rights">Rights</a></li>
  <li><a href="/roles">Roles</a></li>
  <li><a href="/users">Users</a></li>
</ul>

<%= yield %>

</body>
</html>
