<h1>General Staff Contacts</h1>


<div class="filter-box">
  <form id="live-search" action="" class="styled formfilter" method="post">
    <fieldset>
      <input type="text" class="text-input" id="filter" value="" />
      <label>Search/Filter</label>
      <span id="filter-count"></span>
    </fieldset>
  </form>
</div>


<div class="grid grid-2 grid-3 grid-4"> 
  <% @gs_staff.each do |gs_staff| %>
    <div class="grid-item blocchi-parent">
      <div class="card">
      <% if gs_staff.photo? %>
        <div class="card-thumb" style="background-image: url(https://commemorativeairforce.org<%= gs_staff.photo.url(:directory_size).to_s %>);"></div>
      <% else %>
        <div class="card-thumb" style="background-image: url(https://commemorativeairforce.org/uploads/website_images/default_member.png);"></div>
      <% end %>
        <article class="pa16">
        <p><strong><%= gs_staff.first_name %> <%= gs_staff.last_name %></strong>
          <% if signed_in?%>
            <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
              <span class="small"><%= link_to 'edit', edit_member_path(gs_staff) %></span>
            <% end %>
          <% end %>
        <br />
           <%= link_to gs_staff.user.email, "mailto: " + gs_staff.user.email %>
          </p>
        </article>
      </div>
    </div>
  <% end %>
</div>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= button_to 'New General Staff assignment', new_term_path, method: :get, :class => "btn-default btn1" %>
    </div>
  <% end %>
<% end %>