<h1>General Staff Contacts</h1>

  <div class="col-sm-12">
  <form id="live-search" action="" class="styled formfilter"" method="post">


    <fieldset>
        <input type="text" class="text-input" id="filter" value="" />
        <label>Search/Filter</label>
        <span id="filter-count"></span>
    </fieldset>
</form>
</div>


<div class="row"> 
<% @gs_staff.each do |gs_staff| %>

  <div class="col-xs-12 col-sm-4 col-md-3 blocchi-parent" style="height: 436px;">
      <% if gs_staff.photo? %>
      <img src="<%= gs_staff.photo.url(:directory_size).to_s %>" style="width:100%;max-height: 264px;" />
      <% else %>
      <img src="/uploads/website_images/default_member.png" style="width:100%;max-height: 264px;" />
      <% end %>

        <% if gs_staff.first_name? %>
        <p><strong><%= gs_staff.first_name %> <%= gs_staff.last_name %></strong>
                  <% if signed_in?%>
            <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
            <span class="small"><%= link_to 'edit', edit_member_path(gs_staff) %></span>
            <% end %>
          <% end %>
          
        <br />
           <%= link_to gs_staff.user.email, "mailto: " + gs_staff.user.email %><br />
           <%#= gs_staff.work_phone %></p>
        <% end %>

  </div>
  <% end %>
</div>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Hq position assignment', new_hq_position_assignment_path %>
    </div>
  <% end %>
<% end %>