<h1>Headquarters Contacts</h1>



<div class="grid grid-2 grid-3 grid-4"> 
  <% @hq_positions.each do |member| %>
    <div class="grid-item">
      <div class="card">
      <% if member.photo? %>
        <div class="card-thumb" style="background-image: url(https://commemorativeairforce.org<%= member.photo.url(:directory_size).to_s %>);"></div>
      <% else %>
        <div class="card-thumb" style="background-image: url(https://commemorativeairforce.org/uploads/website_images/default_member.png);"></div>
      <% end %>
        <article class="pa16">
        <% member.hq_positions.each do |hq_position| %>
          <h4><%= hq_position.position_name %></h4>
        <% end %>
        <p><%= member.first_name %> <%= member.last_name %>
          <% if signed_in?%>
            <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
              <span class="small"><%= link_to 'edit', edit_member_path(member) %></span>
            <% end %>
          <% end %>
        <br />
           <%= member.user.email %><br />
          <% if member.work_phone? %>
            <%= member.work_phone %>
          <% end %>
        </p>
        </article>
</div>
    </div>
  <% end %>


</div>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'Admin HQ position assignments', hq_position_admin_path %>
        <%= link_to 'New HQ position assignment', new_hq_position_assignment_path %>
    </div>
  <% end %>

<% end %>