<h1>Listing members</h1>

<table>
  <tr>
    <th>User</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Street 1</th>
    <th>Street 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Home phone</th>
    <th>Work phone</th>
    <th>Cell phone</th>
    <th>Email</th>
    <th>Caf col no</th>
    <th>Caf join date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.user_id %></td>
    <td><%= member.last_name %></td>
    <td><%= member.first_name %></td>
    <td><%= member.street_1 %></td>
    <td><%= member.street_2 %></td>
    <td><%= member.city %></td>
    <td><%= member.state %></td>
    <td><%= member.zip %></td>
    <td><%= member.home_phone %></td>
    <td><%= member.work_phone %></td>
    <td><%= member.cell_phone %></td>
    <td><%= member.email %></td>
    <td><%= member.caf_col_no %></td>
    <td><%= member.caf_join_date %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
