<%= render "scripts" %>

<%= render "layouts/scripts" %>

<h1>Members</h1>

<div class="col-sm-12">
  <form id="live-search" action="" class="styled formfilter" method="post">
    <fieldset>
        <input type="text" class="text-input" id="table-filter" value="" />
        <label>Search/Filter</label>
        <span id="filter-count"></span>
    </fieldset>
</form>
</div>

<table>
  <tr>
    <th class="sortable">User</th>
    <th></th>
    <th class="sortable">Last name</th>
    <th class="sortable">First name</th>
    <th class="sortable">Email/Username</th>
    <th class="sortable">City</th>
    <th class="sortable">State</th>
    <th class="sortable">Unit Affiliation</th>
    <th class="sortable">CAF Col No</th>
    <th class="sortable">CAF join date</th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr class='result'>
    <td><%= member.user_id %></td>
    <td class='member-photo'><% if !member.photo.blank? %><%= link_to (image_tag member.photo.url(:tiny_thumb).to_s), member_path(member) %><% end %></td>
    <td><%= member.last_name %></td>
    <td><%= member.first_name %></td>
    <td><%= member.user.email %></td>
    <td><%= member.city %></td>
    <td><%= member.state %></td>
    <td>
    <% if !member.units.blank?%>
      <% member.units.each do |unit| %>
        <li><%= unit.unit_name %></li>
      <% end %>
    <% end %>
    </td>
    <td><%= member.caf_col_no %></td>
    <td><%= member.caf_join_date %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Member', new_member_path %>
    </div>
  <% end %>
<% end %>


