<%= render "scripts" %>

<h1>Members</h1>

<table>
  <tr>
    <th class="sortable">User</th>
    <th class="sortable">Last name</th>
    <th class="sortable">First name</th>
    <th class="sortable">Email/Username</th>
    <th class="sortable">Street 1</th>
    <th class="sortable">Street 2</th>
    <th class="sortable">City</th>
    <th class="sortable">State</th>
    <th class="sortable">Zip</th>
    <th class="sortable">Home phone</th>
    <th class="sortable">Work phone</th>
    <th class="sortable">Cell phone</th>
    <th class="sortable">CAF Col No</th>
    <th class="sortable">CAF join date</th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.user_id %></td>
    <td><%= link_to member.last_name, member %></td>
    <td><%= member.first_name %></td>
    <td><%= member.user.email %></td>
    <td><%= member.street_1 %></td>
    <td><%= member.street_2 %></td>
    <td><%= member.city %></td>
    <td><%= member.state %></td>
    <td><%= member.zip %></td>
    <td><%= member.home_phone %></td>
    <td><%= member.work_phone %></td>
    <td><%= member.cell_phone %></td>
    <td><%= member.caf_col_no %></td>
    <td><%= member.caf_join_date %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'New Member', new_member_path %>
    </div>
  <% end %>
<% end %>


