<p>
  <b>User:</b>
  <%= @member.user_id %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Address:</b>
  <%= @member.street_1 %>
</p>

<% if @member.street_2? %>
  <p>
    <b>Address 2:</b>
    <%= @member.street_2 %>
  </p>
<% end %>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>State:</b>
  <%= @member.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @member.zip %>
</p>

<% if @member.home_phone? %>
<p>
  <b>Home phone:</b>
  <%= @member.home_phone %>
</p>
<% end %>

<% if @member.work_phone? %>
<p>
  <b>Work phone:</b>
  <%= @member.work_phone %>
</p>
<% end %>

<% if @member.cell_phone? %>
<p>
  <b>Cell phone:</b>
  <%= @member.cell_phone %>
</p>
<% end %>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>CAF Col No:</b>
  <%= @member.caf_col_no %>
</p>

<%= if @member.caf_join_date? %>
<p>
  <b>CAF join date:</b>
  <%= @member.caf_join_date.strftime('%b. %d, %Y') %>
</p>
<% end %>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

  <%= render 'versions', :member => @member %>
