<div class="row">
  <div class='col-sm-6 col-sm-push-3'><p>
    <table>
      <tr>
        <th colspan='3' class='member-card'><strong><%= @member.first_name %> <%= @member.last_name %></strong></th>
      </tr>
      <tr>
        <td rowspan='15' class='member-photo'>
          <% if @member.photo? %>
            <img src="<%= @member.photo.url(:directory_size).to_s %>" style="width:100%;max-height: 264px;" />
          <% else %>
            <img src="/uploads/website_images/default_member.png" style="width:265px;height: 265px;" />
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Col No:</td>
        <td><strong><%= @member.caf_col_no %></strong></td>
      </tr>
      <% if @member.caf_join_date? %>
        <tr>
          <td>CAF join date:</td>
          <td><%= @member.caf_join_date.strftime('%b. %d, %Y') %></td>
        </tr>
      <% end %>
      <tr>
        <td>Address:</td>
        <td><%= @member.street_1 %><br />
        <% if @member.street_2? %><%= @member.street_1 %><br /><% end %>
        <%= @member.city %>, <%= @member.state %> <%= @member.zip %>      
        </td>
      </tr>
      <% if @member.home_phone? %>
        <tr>
          <td>Phone (H):</td>
          <td><%= @member.home_phone %></td>
        </tr>
      <% end %>
      <% if @member.home_phone? %>
        <tr>
          <td>Phone (W):</td>
          <td><%= @member.work_phone %></td>
        </tr>
      <% end %>
      <% if @member.home_phone? %>
        <tr>
          <td>Phone (C):</td>
          <td><%= @member.cell_phone %></td>
        </tr>
      <% end %>
      <tr>
        <td>Email:</td>
        <td><%= @member.user.email %></td>
      </tr>
      <tr>
        <td>Member of:</td>
        <td>
          <% @member.units.each do |unit| %>
            <li><%= unit.unit_name %></li>
          <% end %>
          </td>
      </tr>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
        <tr>
        <td>Website Roles:</td>
        <td>
          <% @member.user.roles.each do |role| %>
            <li><%= role.name %></li>
          <% end %>
          </td>
      </tr>
  <% end %>
</table>



  </div>
</div>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'Edit', edit_member_path(@member) %> |
        <%= link_to 'Back', members_path %>

        <%= render 'versions', :member => @member %>
    </div>
  <% end %>
<% end %>


